.OrderSummary {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    text-align: center;
    border: 5px green;
    color: silver;
}
p{
    font-size: 20px;
}
.ShippingDetails {
    width: 50%;

}
.centerBox{
    padding-left: 100px;
    display: flex;
    flex-direction: row;
}