.parent-div {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
}

.name {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    text-decoration: none;
}

.author-name {
    font-size: 2rem;
    color: gray;
}

.priceVal {
    font-size: 3.5rem;
    color: #007600;
}

.line {
    height:2px;

    border-width:0;
    color:white;
    background-color:black
}

.row-pad {
    font-weight: normal;
    padding-bottom: 15px;
}

.leftImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    font-size: 2.5rem;
}


.btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-left {
    display: flex;
    justify-content: flex-start;
}

.col-right {
    display: flex;
    justify-content: flex-start;
}

.left-details-col {
    text-align: right;
    margin-right: 10px;
}

.right-details-col {
    color: #5f5f5f;
}

.quantity {
    font-size: 2.5rem;
    margin: auto 10px auto 40px;
}

.buyBtn {
    height: 50px;
    width: 100px;
}

.buyText {
    font-size: large;
    color: white;
}

.image {
    height: 480px;
    width: 270px;
    border-radius: 5px;
}
