.main-container {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}
.card-title{
    font-weight: bold;
}
.authorName{
    font-style: italic;
}
.price{
    color: green;
    font-weight: bold;
}
img{
    height: 150px;
    width: 98px;
    align-content: center;
}

